<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">数据采集后台管理系统</a>
            </div>
            <!-- /.navbar-header -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search (TODO)">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/"><i class="fa fa-dashboard fa-fw"></i> 任务总览</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.history', date=0) }}"><i class="fa fa-dashboard fa-fw"></i> 今日任务</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.history', date=1) }}"><i class="fa fa-dashboard fa-fw"></i> 昨日任务</a>
                        </li>
                        <li>
                            <a href="{{ url_for('home.history', date=2) }}"><i class="fa fa-dashboard fa-fw"></i> 历史任务</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> 采集任务配置<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                            {% for task in all_tasks %}
                                <li><a href="{{ url_for('home.task', name=task.name) }}">{{ task.name }}</a></li>
                            {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

